<div id="form-container">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="amount">Amount to request</label>
            <input formControlName="amount" id="amount" type="text" class="form-control">
            <div *ngIf="amount?.touched && amount?.invalid" class="alert alert-danger">
                <div *ngIf="amount?.errors?.required">Amount is required</div>
                <div *ngIf="amount?.errors?.mustBeAtLeastOneHundred">Amount must be greater or equal than £ {{ MIN_AMOUNT }} </div>
                <div *ngIf="amount?.errors?.mustBeAtMostOneThousandFiveHundred">Amount must be lower or equal than £ {{ MAX_AMOUNT }} </div>
                <div *ngIf="amount?.errors?.mustBeMultipleOfOneHundred">Amount must be multiple of {{ MULTIPLE_FACTOR }} </div>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmitLoanRequest()">Submit</button>
    </form>
</div>
<div id="div-separator"></div>
<div class="table-payment">
  <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Monthly Installment</th>
          <th scope="col">Total repayment</th>
          <th scope="col">Amount borrowed</th>
          <th scope="col">Interest rate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{loanQuote.monthlyInstallment}}</td>
          <td>{{loanQuote.totalRepayment}}</td>
          <td>{{loanQuote.amountBorrowed}}</td>
          <td>{{loanQuote.interestRate}}</td>
        </tr>
      </tbody>
  </table>
</div>