#form-container {
    width: 25%;
    padding: 20px;
}

.btn.btn-primary {
    display: block;
    width: 100%;
    float: right;
}

#div-separator {
    height: 50px;
}

.table-payment {
    width: 40%;
    padding: 20px;
    text-align: center;
}